<% form_for @user, :html => {:multipart => true, :name => "user_edit_form"} do |f| %>

  <div id="get-list-header">Can we get to know you?</div>

  <% if @user.errors.any? %>
    <div id="error_explanation" class="erro_messages">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li style="list-style: none;"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div id="left-photo">

    <div id="photo">
      <% unless @user.photo_file_name.nil? %>
        <%= image_tag(@user.photo.url(:medium) )%>
      <% end %>
    </div>

    <div id="upload-button">
      <%= f.file_field :photo, :size => "13" %>
      <br/>
      <br/>
      <img border="0" height="35" width="152" src="/images/upload-photo-button.png" alt="upload photo" onclick="user_edit_form.submit();" />
    </div>


  </div>

  <div id="gray-box">

    <div class="bg-fields">
      <div class="txt">Name:</div>
      <div class="field-x">
        <%= f.text_field :first_name, :value => @user.first_name.nil? ? "First Name" : @user.first_name, :class => "name", :onclick => "hideShowValue(this,'First Name','hide');", :onblur => "hideShowValue(this,'First Name','show');" %>
        <%= f.text_field :last_name, :value => @user.last_name.nil? ? "Last Name" : @user.last_name, :class => "name", :onclick => "hideShowValue(this,'Last Name','hide');", :onblur => "hideShowValue(this,'Last Name','show');" %>
      </div>
    </div>

    <div class="bg-fields">
      <div class="txt">Email:</div>
      <div class="field-x">
        <%= f.text_field :email, :value => @user.email.nil? ? "abc@xyz.com" : @user.email, :class => "large-fields", :onclick => "hideShowValue(this,'abc@xyz.com','hide');", :onblur => "hideShowValue(this,'abc@xyz.com','show');" %>
      </div>
    </div>

    <div class="bg-fields">
      <div class="txt">City:</div>
      <div class="field-x">
        <%= f.text_field :city, :value => @user.city.nil? ? "Please enter your city" : @user.city, :class => "large-fields", :onclick => "hideShowValue(this,'Please enter your city','hide');", :onblur => "hideShowValue(this,'Please enter your city','show');" %>
      </div>
    </div>

    <div class="bg-fields">
      <div class="txt">Zip Code:</div>
      <div class="field-x">
        <%= f.text_field :zip_code, :value => @user.zip_code.nil? ? "Please enter your zip code" : @user.zip_code, :class => "large-fields", :onclick => "hideShowValue(this,'Please enter your zip code','hide');", :onblur => "hideShowValue(this,'Please enter your zip code','show');" %>
      </div>
    </div>

    <div class="bg-fields">
      <div class="txt">Phone:</div>
      <div class="field-x">
        <%= f.text_field :phone_number, :value => @user.phone_number.nil? ? "Please enter your phone number" : @user.phone_number, :class => "large-fields", :onclick => "hideShowValue(this,'Please enter your phone number','hide');", :onblur => "hideShowValue(this,'Please enter your phone number','show');" %>
      </div>
    </div>

    <div class="bg-fields">
      <div class="txt">Occupation:</div>
      <div class="field-x">
        <%= f.text_field :occupation, :value => @user.occupation.nil? ? "What do you do for a living?" : @user.occupation, :class => "large-fields", :onclick => "hideShowValue(this,'What do you do for a living?','hide');", :onblur => "hideShowValue(this,'What do you do for a living?','show');" %>
      </div>
    </div>

    <div class="bg-fields">
      <div class="txt">Schools Attended:</div>
      <div class="field-x">
        <%= f.text_field :school_attended, :value => @user.school_attended.nil? ? "Where did you go to school?" : @user.school_attended, :class => "large-fields", :onclick => "hideShowValue(this,'Where did you go to school?','hide');", :onblur => "hideShowValue(this,'Where did you go to school?','show');" %>
      </div>
    </div>


    <div id="details"><br/>
      Anything you want to share with folks?<br/><br/>
      <%= f.text_area :share, :class => "details-person" %>
      <br/><br/>
      <a href="javascript:void(0);">
        <img border="0" align="right" width="71" height="38" alt="save-button" src="/images/save-button.png" onclick="user_edit_form.submit();"/>
      </a>
    </div>
  </div>


<% end %>

