<%= f.hidden_field :user_id, :value => current_user.id if current_user%>

<div style="padding: 20px;background-color: lavender;border: 1px solid black;width: 90%;float: left;">

  <div style="width: 100%;float: left;margin-top: 5px;margin-bottom: 25px;">
    <div style="width: 25%;float: left;">
      &nbsp;
    </div>
    <div style="width: 70%;float: left;">
      <% if @location.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@location.errors.count, "error") %> prohibited this space from being saved:</h2>
          <ul>
            <% @location.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div style="width: 100%;float: left;margin-top: 5px;">
    <div style="font-size: 16px;float: left;width: auto;">
      What is your space?
    </div>
    <br/>
    <div style="float: left;width: auto;">
      Don't worry this information will only <br/>be shared with the renters you accept.      
    </div>
  </div>

  <div style="width: 100%;float: left;margin-top: 5px;">
    <div style="width: 25%;float: left;">
      Your Street Address*:
    </div>
    <div style="width: 70%;float: left;">
      <%= f.text_field :address, :size => "40" %>
    </div>

    <div id="location_advanced_container" style="display:none;">
      <div id="location_advanced" style="display:none;">
        <%= f.label(:longitude, "Coordinates") %>
        <%= f.text_field :longitude, :class => 'required two-side-by-side' %>
        <%= f.text_field :latitude , :class => 'required two-side-by-side second'%><br />
      </div>
      <div class="small">
        <a href="javascript:void(0);" id="location_advanced_link"><%= "Advance Settings" %></a>
      </div>
    </div>
  </div>

  <div style="width: 100%;float: left;margin-top: 5px;margin-bottom: 25px;">
    <div style="width: 25%;float: left;">
      Phone Number*:
    </div>
    <div style="width: 70%;float: left;">
      <%= f.text_field :phone, :size => "40" %>
    </div>
  </div>

  <div style="width: 100%;float: left;margin-top: 5px;margin-bottom: 25px;">
    <% if @map %>
      <%= @map.div(:width => 400, :height => 400, :margin => "0  auto") %>
    <% end %>
  </div>



</div>
<div style="padding: 20px;background-color: lavender;border: 1px solid black;width: 90%;float: left;margin-top: 20px;">
  <div style="width: 100%;float: left;margin-top: 5px;">
    <div style="font-size: 16px;float: left;width: auto;">
      Tell us about your space.
    </div>
    <br/>
    <div style="float: left;width: auto;">
      This information will be shared <br/>with potential renters.
    </div>
  </div>

  <div style="width: 100%;float: left;margin-top: 5px;">
    <div style="width: 25%;float: left;">
      Storage Space type:
    </div>
    <div style="width: 70%;float: left;">
      <%= select_tag "location[storage_type]",
        options_for_select([["Attic" , "Attic"],["Basement" ,"Basement"] , ["Closet", "Closet"], ["Garage","Garage"], ["Room","Room"], ["Parking Space","Parking Space"]], @location.storage_type),
        :onchange =>"if($(this).val() == 'Parking Space'){$('#location_accommodates').val('A car');}" ,
        :style => "width:250px;" %>
    </div>
  </div>

  <div style="width: 100%;float: left;margin-top: 5px;">
    <div style="width: 25%;float: left;">
      Accommodates:
    </div>
    <div style="width: 70%;float: left;">
      <%= select_tag "location[accommodates]", options_for_select([["A few boxes" , "A few boxes"],["Several boxes" ,"Several boxes"] , ["Boxes & furniture", "Boxes & furniture"], ["A small apartment","A small apartment"], ["A car","A car"]], @location.accommodates) , :style => "width:250px;"  %>
    </div>
  </div>

  <div style="width: 100%;float: left;margin-top: 5px;">
    <div style="width: 25%;float: left;">
      Floor:
    </div>
    <div style="width: 70%;float: left;">
      <%= select_tag "location[floor]", options_for_select([["Ground" , "Ground"],["Basement" ,"Basement"] , ["1st Floor", "1st Floor"], ["2nd Floor","2nd Floor"], ["2+ Floors","2+ Floors"]], @location.storage_type)  , :style => "width:250px;"  %>
    </div>
  </div>

  <div style="width: 100%;float: left;margin-top: 5px;">
    <div style="width: 25%;float: left;">
      Access:
    </div>
    <div style="width: 70%;float: left;">
      <%= select_tag "location[access]", options_for_select([["Renter requests access" , "Renter requests access"],["Access day or night" ,"Access day or night"] , ["Fixed hours", "Fixed hours"]], @location.storage_type) , :style => "width:250px;"  %>
    </div>
  </div>

  <div style="width: 100%;float: left;margin-top: 5px;">
    <div style="width: 25%;float: left;">
      Security
    </div>
    <div style="width: 70%;float: left;">
      <%= select_tag "location[security]", options_for_select([["Building Locks" , "Building Locks"],["Building & Storage Locks" ,"Building & Storage Locks"]], @location.storage_type) , :style => "width:250px;"  %>
    </div>
  </div>

  <div style="width: 100%;float: left;margin-top: 5px;">
    <div style="width: 25%;float: left;">
      Features:
    </div>
    <div style="width: 70%;float: left;">
      <% @features.each do |feature| %>
        <div style="float:left;width:250px;margin-top: 5px;">
          <%= check_box_tag("features[]", feature.id, @location.features.include?(feature)) %>&nbsp;<%= feature.name %>
        </div>
      <% end %>
    </div>
  </div>

  <div style="width: 100%;float: left;margin-top: 10px;">
    <div style="width: 25%;float: left;">
      Headline:
    </div>
    <div style="width: 70%;float: left;">
      <%= f.text_field :headline, :size => "40" %>
    </div>
    <script type="text/javascript">
      $("#location_headline").counter({
        count: 'down',
        goal: 40
      });
    </script>
  </div>

  <div style="width: 100%;float: left;margin-top: 5px;">
    <div style="width: 25%;float: left;">
      Description:
    </div>
    <div style="width: 70%;float: left;">
      <%= f.text_area :description, :size => "46" %>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      Date.firstDayOfWeek = 0;
      Date.format = 'yyyy-mm-dd';

      if($('#location_start_date').val() == ""){
        $('#location_start_date').datePicker({startDate:'1996-01-01'}).val(new Date().asString()).trigger('change');
      }else{
        $('#location_start_date').datePicker({startDate:'1996-01-01'});
      }
    });
  </script>


  <div style="width: 100%;float: left;margin-top: 5px;">
    <div style="width: 25%;float: left;">
      Available Starting:
    </div>
    <div style="width: 70%;float: left;">
      <%= f.text_field :start_date , :size => "40" %>
    </div>
  </div>


  <div style="width: 100%;float: left;margin-top: 5px;margin-bottom: 5px;">
    <div style="width: 25%;float: left;">
      Monthly Price:
    </div>
    <div style="width: 70%;float: left;">
      <%= f.text_field :price , :size => "20" %>
    </div>
  </div>



  <div style="float: right;margin: 20px;">
    <%= f.submit "Save & Add Photos" %>
  </div>
</div>

<script>
  var marker = null;
  var get_location_name_timeout = null;

  $(document).ready(function() {


    $('#map').css("margin", "0 auto");
    
    
    var update_location_fun = function(resolveName) {
      if(resolveName == null) {
        resolveName = true;
      }

      var form = $('#new_location');
      var latlng = new GLatLng(
      $('#location_latitude').val(),
      $('#location_longitude').val()
    );

      map.setCenter(latlng);
      if(marker) {
        map.removeOverlay(marker);
      }

      marker = new GMarker(latlng);

      map.addOverlay(marker);


      if(resolveName) {


        var get_location_name_fun = function() {
          $.ajax({
            url: "/xml/address_search.xml?lat=" + latlng.lat() + "&lon=" + latlng.lng(),
            dataType: 'xml',
            success: function(resp) {

              $('#location_address').removeClass('ui-autocomplete-loading');
              var name = $('address', resp).text();
              if(name != '') {
                $('#location_address').val($('address', resp).text());
              }
            }
          });
        }

        if(get_location_name_timeout) {
          clearTimeout(get_location_name_timeout);
        }
        get_location_name_timeout = setTimeout(get_location_name_fun, 300);
        $('#location_address').addClass('ui-autocomplete-loading');
      }
    }

    var register_map_event_fun = function() {
      if(!map) {
        setTimeout(register_map_event_fun, 100);
        return;
      }
      GEvent.addListener(map, "click", function(overlay, latlng) {
        if (latlng) {
          //$('#location_longitude').val(latlng.lng());
          //$('#location_latitude').val(latlng.lat());
          //update_location_fun();
        }
      });
    }
    setTimeout(register_map_event_fun, 100);

    $('#location_address').autocomplete({
      focus: function(event, ui) {
        return false;
      },
      select: function(event, ui) {
        var position = ui.item.id.split(";");
        $('#location_longitude').val(position[0]);
        $('#location_latitude').val(position[1]);
        update_location_fun(false);
      },
      source: function(request, cb) {
        $.ajax({
          url: "/xml/location_search.xml?q=" + request.term,
          dataType: 'xml',
          success: function(resp) {
            cb($("location", resp).map(function() {
              return {label: $("address", this).text(), id: $("longitude", this).text() + ";" + $("latitude", this).text()
              };
            }).get());
          }
        });
      },
      minLength: 2,
      change: function (event, ui) {
        if (ui.item) {          
          $('#another_element').val(ui.item.source.label);
        }
        else {
          if (!$(this).data('valid')) {
            $(this).val('');
            $('#another_element').val('');
          }
        }
        $(this).data('valid', false);        
      }
    }).live('blur', function (e) {
      if ($('.ui-autocomplete li:visible').length > 0) {
        $(".ui-autocomplete li:visible:first").click();
        item = $($(".ui-autocomplete li:visible:first").data()).attr('item.autocomplete');
        var position = item.id.split(";");
        $('#location_longitude').val(position[0]);
        $('#location_latitude').val(position[1]);
        update_location_fun(false);
        $(this).val(item.label);
        $('#another_element').val(item.label);
        $(this).data('valid', true);       
      }
    });
    //$('#new_location').validate();
  });
</script>