<div style="padding: 10px;background-color: lavender;border: 1px solid black;width: 100%;float: left;">
  <div style="float: left;width: 100%;font-size: 25px;font-weight: bold;">
    <%= @location.headline %>
  </div>
  <div style="float: left;width: 100%;margin-top: 4px;">
    <%= @location.storage_type %> for <%= @location.accommodates %>&nbsp;|&nbsp;<%= @location.address %>
  </div>
</div>
<div style="padding: 10px;background-color: lavender;border: 1px solid black;width: 100%;float: left;margin-top: 10px;">
  <div style="float: left;width: 72%;border: 1px solid black">
    <div style="float: left;width: 100%;margin: 5px;">
      <span style="float:left;">
        <%= link_to_function "Photos", "if($('#photo_div').is(':hidden')){$('div#photo_div , div#map_div').toggle();}"  %>
      </span>
      <span style="float: left;margin-left: 10px;">
        <%= link_to_function "Maps", "if($('#map_div').is(':hidden')){$('div#photo_div , div#map_div').toggle();}"  %>
      </span>
    </div>
    <div id="photo_div" style="float: left;width: 100%;">
      <% if @location.avatars.size > 0 %>
        <div style="float: left;width: 100%;margin-top: 10px;margin: 5px;">
          <%= image_tag(@location.avatars.first.photo.url(:medium)) %>
        </div>
        <div style="float: left;width: 100%;margin-top: 10px;margin: 5px;">
          <%= @location.avatars.first.caption %>
        </div>
      <% end %>
    </div>
    <div id="map_div" style="float: left;width: 100%;display: none;">
      <% if @location.avatars.size > 0 %>
        <div style="float: left;width: 100%;margin-top: 10px;margin: 5px;">
          <%= image_tag(@location.avatars.first.photo.url(:small)) %>
        </div>
        <div style="float: left;width: 100%;margin-top: 10px;margin: 5px;">
          <%= @location.avatars.first.caption %>
        </div>
      <% end %>
    </div>
  </div>
  <div style="float: left;width: 24%;margin-left: 10px;">
    <div style="float: left;width: 100%;border: 1px solid black;padding: 10px;">
      <div style="width:100%;float: left;">
        <span style="float: left;font-size: 18px;font-weight:bold;">
          $<%= @location.price %>
        </span>
        <span style="float: left;margin-left: 5px;">
          Per Month
        </span>
      </div>
      <div style="width:100%;float: left;margin-top: 5px;">
        <span style="float: left;font-size: 18px;font-weight:bold;">
          <%= @location.start_date.strftime("%m/%d/%Y") %>
        </span>        
      </div>
      <div style="width:100%;float: left;margin-top: 5px;">
        <span style="float: left;font-size: 18px;font-weight:bold;">
          <%= link_to "Store It", "#" %>
        </span>        
      </div>
    </div>
    <div style="float: left;width: 100%;border: 1px solid black;padding: 10px;margin-top: 10px;">
      <div style="width:100%;float: left;">
        <span style="float: left;">
          <%= image_tag("missing_70.png") %>
        </span>
        <span style="float: left;font-size: 20px;font-weight:bold;margin-left: 2px;margin-top: 10px;">
          <%= @location.user.first_name %> &nbsp;<%= "#{@location.user.last_name[0..0].capitalize}." if @location.user.last_name %>
        </span>        
        <span style="float: left;font-size: 9px;margin-left: 10px;">
          Response Rate 98%
        </span>
      </div>
      <div style="width:100%;float: left;margin-top: 20px;overflow-y: auto;height: 100px;border: 1px solid black;background-color: white;">
        <%=h "This will be a text pulled from personal profile page. This will be a text pulled from personal profile page.
This will be a text pulled from personal profile page. This will be a text pulled from personal profile page.
This will be a text pulled from personal profile page. This will be a text pulled from personal profile page.
This will be a text pulled from personal profile page. This will be a text pulled from personal profile page." %>
      </div>
      <div style="float: left;width: 100%;margin-top: 10px;">
        <%= link_to "Contact me", "#" %>
      </div>
    </div>


  </div>
  <div style="float: left;width: 72%;border: 1px solid black;margin-top: 10px;">
    <div style="float: left;width: 100%;margin: 5px;">
      <span style="float:left;">
        About this space&nbsp;
      </span>
      <span style="float: left;">
        <%= link_to_function "+", "this.innerHTML = (this.innerHTML == '+' ? '-' : '+');$('#space_info').toggle();" %>
      </span>
    </div>
    <div id="space_info" style="float: left;width: 100%;margin: 5px;display: none;">
      <span style="float:left;width: 73%;height: 200px;overflow-y: auto;background-color: white;">
        <%=h @location.description %>
      </span>
      <span style="float: left;width: 24%;margin-left: 2px;">
        <span style="float: left;width: 100%;font-weight: bold;background-color: gray;margin-bottom: 5px;padding: 2px;">
          At a Glance
        </span>
        <span style="float: left;width: 100%;font-weight: bold;background-color: silver;padding: 2px;">
          <%= @location.storage_type %>
        </span>
        <span style="float: left;width: 100%;font-weight: bold;background-color: gray;padding: 2px;">
          <%= @location.accommodates %>
        </span>
        <span style="float: left;width: 100%;font-weight: bold;background-color: silver;padding: 2px;">
          <%= @location.floor %>
        </span>
        <span style="float: left;width: 100%;font-weight: bold;background-color: gray;padding: 2px;">
          <%= @location.access %>
        </span>
        <span style="float: left;width: 100%;font-weight: bold;background-color: silver;padding: 2px;">
          <%= @location.security %>
        </span>
        <span style="float: left;width: 100%;font-weight: bold;background-color: gray;padding: 2px;">
          <%= @location.features.collect(&:name).to_sentence %>
        </span>
      </span>
    </div>

  </div>

</div>