<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>MVP</title>
    <%= stylesheet_link_tag "application", "datePicker"%>
    <%= javascript_include_tag "jquery-1.5.1" %>
    <%= javascript_include_tag  "jquery-ui-1.8.10.custom.min"%>
    <%= javascript_include_tag  "jquery.counter-1.0"%>
    <%= javascript_include_tag  "jquery.counter-1.0.min"%>
    <%= javascript_include_tag "jrails" %>
    <%= javascript_include_tag "date", "jquery.datePicker" %>
  </head>
  <body>

    <div id="main-container">
      <div class="tab" style="float: left;">
        <span><%= link_to "Home", homepage_path %></span>
        <span>|</span>
        <span><%= link_to "About", root_path %></span>
        <% if current_user %>
          <span class="sep">|</span>
          <span>Hello <%= current_user.username %>!</span>
          <span class="sep">|</span>
          <span><%= link_to "List Your Space", new_location_path %></span>
          <span class="sep">|</span>
          <span>[<%= link_to "Logout", user_session_path(current_user), :method => :delete %>]</span>
        <% end %>

        <span id="toggle">
          <% unless current_user %>
            <span class="sep">|</span>
            <%= link_to "Sign In", :controller => "welcome", :action => "signup_and_signin", :id => "signin"  %>
            <span class="sep">|</span>
            <%= link_to "Sign Up", :controller => "welcome", :action => "signup_and_signin", :id => "signup"  %>
          <% end %>
        </span>
        <span class="right">&nbsp;</span>

      </div>
      <div id="container">
        <div id="content" >
          <div id="flash_messages_div">
            <%= render :partial => "layouts/flash_messages" %>
          </div>          
          <div style="margin-top: 5px;float: left;width: 100%;">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
