<h1 style="width: 100%;float: left;margin: 0px;">
  End Rental
</h1>

<div style="width: 100%;float: left;margin-top: 10px;">
  <% remote_form_for @message, :url => send_end_rental_path do |f| %>

    <%= f.hidden_field :receiver_id, :value => @user.id %>
    <%= f.hidden_field :sender_id, :value => current_user.id %>
    <%= f.hidden_field :subject, :value => "Cancellation Request: Please Respont within 24 Hours." %>
    <%= f.hidden_field :message_type, :value => "Cancellation" %>
    <div style="width:100%;float: left;">
      <h3 style="width: 100%;float: left;margin: 0px;">
        Select a date to end this rental
      </h3>
    </div>
    <div style="width:100%;float: left;">
      <%= f.text_field "rental_end_date", :value => @location.renter_date  %>
    </div>
    <div style="width:100%;float: left;margin-top: 10px;">
      <h3 style="width: 100%;float: left;margin: 0px;">
        Add a note to your cancellation notification (optional)
      </h3>
    </div>
    <div style="width:100%;float: left;">
      <%= f.text_area  :body, :value => nil , :style => "width:595px;height:120px;" %>
    </div>

    <div id="buttons_div" style="width:100%;float:left;margin-top: 20px;">
      <%= f.submit "Send",:id => "upload_button",
        :class => "tiny_button",
        :style => "width:80px;",
        :onclick =>"$('#buttons_div').toggle();$('#uploader_div').toggle();" %>
      <%= f.submit "Cancel", :class => "tiny_button",
        :style => "width:80px;",
        :onclick => "$.modal.close();return false;" %>
    </div>

    <div style="width:100%;float:left;margin-top: 10px;display:none;" id="uploader_div">
      <span class="tiny_button" style="width: 100px;">
        Sending
        <div style="background-image: url('/images/small_uploader.gif');background-repeat: no-repeat;float: right;height: 12px;margin-top: 5px;width: 30px;"></div>
      </span>
    </div>

  <% end %>
</div>

