<div id="left-links">
  <div id="user-img">
    <% unless @user.photo_file_name.nil? %>
      <%= image_tag(@user.photo.url(:thumb), :height => "97", :width => "123" )%>
    <% end %>
  </div>

  <div id="username">Hi <%= @user.first_name[0..6] %>!</div>
  <div id="edit-profile">
    <%= link_to image_tag("edit-profile.png", :border => "0", :height => "25", :width => "73"), edit_user_path(@user)  %>
  </div>


  <ul id="dash-links">
    <li>
      <a style="background-image: url('/images/message-icon.png'); background-repeat: no-repeat; background-position: 6px 50%;" class="active" href="<%= your_messages_path(current_user) %>">
        Messages
      </a>
    </li>

    <li>
      <a style="background-image: url('/images/manage-icons.png'); background-repeat: no-repeat; background-position: 6px 50%;" href="<%= locations_path %>">
        Manage your spaces
      </a>
    </li>

    <li>
      <a style="background-image: url('/images/customers-icon.png'); background-repeat: no-repeat; background-position: 6px 50%;" href="<%= your_customers_path(current_user) %>">
        Your customers
      </a>
    </li>

    <li>
      <a style="background-image: url('/images/places-icon.png'); background-repeat: no-repeat; background-position: 6px 50%;" href="<%= what_are_you_renting_path(current_user) %>">
        Places you rent
      </a>
    </li>

    <li>
      <a style="background-image: url('/images/your-account-icon.png'); background-repeat: no-repeat; background-position: 6px 50%;" href="<%= account_path(@user) %>">
        Your account
      </a>
    </li>

    <li>
      <a style="background-image: url('/images/profile-icon.png'); background-repeat: no-repeat; background-position: 6px 50%;" href="<%= edit_user_path(@user)  %>">
        Your profile
      </a>
    </li>

  </ul>
</div>