<%= stylesheet_link_tag "dashboard"%>
<%= stylesheet_link_tag "renting"%>
<%= render :partial => "left_panel" %>

<div id="right-dash">
  <div id="dash-txt">Your Dashboard</div>

  <div id="gary-bg-dash">

    <div class="widgets">
      <div class="widget-x">
        <span>
          <%= link_to "Check all the pending requests and mark them NOT RESPONDED if 24(for now 0 hours to test) hours passed.", :controller => "mvp_jobs", :action => "fetch_and_expire_requests" %>
        </span>
      </div>
      <div class="widget-x">
        <span>
          <%= link_to "Check the transactions and transfer the funds to users balance if current date is equal to buyer rental date", :controller => "mvp_jobs", :action => "fetch_accepted_transactions_update_user_balance" %>
        </span>
      </div>
    </div>

    <div class="widgets">
      <div class="widget-x">New Messages<br/><br/>
        <span class="arial-twentyfour">
          <%= link_to @user.unread_messages.size, your_messages_path(@user), :style => "text-decoration:none;" %>
        </span>
      </div>
      <div class="widget-x">Account Balance<br/><br/>
        <span class="arial-twentyfour">
          <%= link_to "$#{number_with_precision(@user.recent_balance, :precision => 2)}", account_path(@user), :style => "text-decoration:none;" %>
        </span>
      </div>
    </div>


    <div id="right-dash" style="padding: 0px;">
      <div id="dash-txt">Rental requests</div>
      <% unless current_user.rental_requests_of_customers_of_all_locations.blank? %>
        <div id="rent-bg" style="padding: 0px;">
          <% current_user.rental_requests_of_customers_of_all_locations.each do |rental_request| %>
            <% location = rental_request.location %>
            <div class="rented-bg">
              <div class="renter-img">
                <% if location.avatars.size > 0 %>
                  <%= image_tag(location.avatars.first.photo.url(:small), :border => "0", :height => "78", :width => "116", :alt => "space") %>
                <% end %>
              </div>
              <div class="rental-txt">
                <%= link_to location.headline, location_path(location) %>
              </div>
              <% renter = rental_request.user %>
              <div class="details-rentedx">
                Requested by:<br/>
                Rental on:<br/>
                Monthly rent:
              </div>
              <div class="details-rentedx2">
                <%= link_to "#{renter.first_name} #{renter.last_name[0..0].capitalize if renter.last_name}.", user_path(renter)  %><br/>
                <%= rental_request.buyer_rental_date.strftime("%B %d, %Y") %><br/>
                $<%= number_with_precision(rental_request.transaction.price.to_f, :precision => 2) if rental_request.transaction %>
              </div>
              <div class="rented-btn">
                <%= link_to "Accept", change_request_status_path(rental_request, LocationsUser::ACCEPTED) %>
                &nbsp;&nbsp;
                <%= link_to "Decline", change_request_status_path(rental_request, LocationsUser::REJECTED) %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        No Rental Request!
      <% end %>
    </div>

    <div id="right-dash" style="padding: 0px;">
      <div id="dash-txt">Cancellation Requests</div>
      <% unless current_user.cancellation_requests_of_customers_of_all_locations.blank? %>
        <div id="rent-bg" style="padding: 0px;">
          <% current_user.cancellation_requests_of_customers_of_all_locations.each do |cancel_request| %>
            <% location = cancel_request.location %>
            <div class="rented-bg" style="padding: 0px;">
              <div class="renter-img">
                <% if location.avatars.size > 0 %>
                  <%= image_tag(location.avatars.first.photo.url(:small), :border => "0", :height => "78", :width => "116", :alt => "space") %>
                <% end %>
              </div>
              <div class="rental-txt">
                <%= link_to location.headline, location_path(location) %>
              </div>
              <% renter = cancel_request.user %>
              <div class="details-rentedx">
                Canceled by:<br/>
                Cancel on:<br/>
                Monthly rent:
              </div>
              <div class="details-rentedx2">
                <%= link_to "#{renter.first_name} #{renter.last_name[0..0].capitalize if renter.last_name}.", user_path(renter)  %><br/>
                <%= cancel_request.renting_end_date.strftime("%B %d, %Y") %><br/>
                $<%= number_with_precision(cancel_request.transaction.price.to_f, :precision => 2) if cancel_request.transaction %>
              </div>
              <div class="rented-btn">
                <%= link_to "Accept", change_request_status_path(cancel_request, LocationsUser::ENDED) %>
                &nbsp;&nbsp;
                <%= link_to "Decline", change_request_status_path(cancel_request, LocationsUser::REJECTED) %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        No Ending Request!
      <% end %>
    </div>


    <div class="listing-bg">
      <div class="heading-listing">
        <div class="listing-txt">Spaces you rent</div>
        <div class="listing-txt1">Rented from</div>
      </div>
      <% unless @user.accepted_requested_locations.blank? %>
        <% @user.accepted_requested_locations.each do |location|  %>
          <div class="list-wrapper">
            <div class="dash-img">
              <% if location.avatars.size > 0 %>
                <%= image_tag(location.avatars.first.photo.url(:small), :border => "0", :height => "46", :width => "68", :alt => "space") %>
              <% end %>
            </div>
            <div class="dash-img-txt"><%= link_to location.headline, location_path(location) %></div>
            <div class="amount-txt"><%= "#{location.owner.first_name} #{location.owner.last_name[0..0].capitalize if location.owner.last_name}." %></div>
            <div class="amount-txt2">$<%= number_with_precision(location.price.to_f, :precision => 2) %></div>
          </div>
        <% end %>
      <% else %>
        You do not have any space you rent.
      <% end %>


    </div>




  </div>



</div>

