<%= stylesheet_link_tag "dashboard"%>
<%= stylesheet_link_tag "inquiry"%>

<%= render :partial => "left_panel" %>


<div id="right-dash">
  <div id="dash-txt">Inquiry about your space</div>
  <div id="bg-inquiry">

    <% form_for @message, :url => post_a_reply_path do |f| %>

      <%= f.hidden_field :receiver_id, :value => @message.sender_id %>
      <%= f.hidden_field :sender_id, :value => @message.receiver_id %>
      <%= f.hidden_field :message_type, :value => "Inquiry" %>
      <div class="inquiry-txt">On <%= @message.created_at.strftime("%B/%d/%Y") %>, <%= @message.sender.first_name %> wrote:</div>
      <div class="comments-inquiry">
        <%= @message.message_type == "Inquiry" ? @message.body : @message.subject %>
      </div>

      <div class="inquiry-txt">Send a reply to <%= @message.sender.first_name %>:</div>

      <%= text_area_tag "message[body]", nil , :class => "comments-inquiry" %>




      <div class="post-replay-btn">
        <%= image_submit_tag("post-replay.png", :border => "0", :height => "34", :width => "101", :onclick => "if($('#message_body').val()==''){alert('You reply is required to submit.');return false;}else{return true;}") %>
      </div>

      <%= link_to "Back", your_messages_path(current_user) %>

    </div>
  <% end %>
</div>