<%= stylesheet_link_tag "dashboard"%>
<%= stylesheet_link_tag "renting"%>

<%= render :partial => "left_panel" %>


<div id="right-dash">
  <div id="dash-txt">What are you renting?</div>
  <% unless current_user.own_accepted_requests.blank? %>
    <div id="rent-bg">
      <% current_user.own_accepted_requests.each do |accepted_request|  %>
        <% location = accepted_request.location %>
        <div class="rented-bg">
          <div class="renter-img">
            <% if location.avatars.size > 0 %>
              <%= image_tag(location.avatars.first.photo.url(:small), :border => "0", :height => "86", :width => "106", :alt => "space") %>
            <% end %>
          </div>
          <div class="rental-txt">
            <%= link_to location.headline, location_path(location) %>
          </div>
          <% owner = location.owner %>
          <div class="details-rentedx">
            Rented by:<br/>
            Rented on:<br/>
            Monthly rent:
          </div>
          <div class="details-rentedx2">
            <%= link_to "#{owner.first_name} #{owner.last_name[0..0].capitalize if owner.last_name}.", user_path(owner)  %><br/>
            <%= accepted_request.request_response_date.strftime("%B %d, %Y") %><br/>
            $<%= number_with_precision(location.price.to_f, :precision => 2) %>
          </div>
          <div class="rented-btn">
            <%= link_to_remote image_tag("contact-owner.png", :border => "0", :height => "33", :width => "116"), :url => contact_owner_path(owner,accepted_request) %>
            &nbsp;&nbsp;
            <%= link_to_remote image_tag("end-rental.png", :border => "0", :height => "33", :width => "90"), :url => end_rental_path(owner,accepted_request) %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    You do not have any Rent space.
  <% end %>
</div>