<%= stylesheet_link_tag "dashboard"%>
<%= stylesheet_link_tag "messages"%>

<%= render :partial => "left_panel" %>

<div id="right-dash">
  <div id="dash-txt">Your Messages</div>
  <div id="bg-messages">
    <div id="header-form"></div>

    <% unless current_user.received_messages.blank? %>
      <% current_user.received_messages.each do |message| %>
        <div class="messages-bg-color">
          <div class="from-1"><%= message.sender.first_name %></div>
          <div class="from-2">
            <%= link_to h(message.message_type == "Inquiry" ? message.body[0..54] : message.subject), view_message_path(current_user, message), :style => "text-decoration:none;" %>
            <div style="float: right;width: auto;margin-right: 10px;">
              <% unless message.message_type == "Inquiry" %>
                <span id="drop_down_<%=message.id%>_<%= message.locations_user_id %>" style="display: block;width: auto;text-align: center;height: 28px;">
                  <%= select_tag "request_status_#{message.id}_#{message.locations_user_id}",
                    options_for_select([["PENDING" , LocationsUser::PENDING ],
                      ["ACCEPTED" , LocationsUser::ACCEPTED],
                      ["REJECTED" , LocationsUser::REJECTED],
                      ["ENDED" , LocationsUser::ENDED]], message.locations_user.status.to_i),
                    :style => "border: 1px solid #AFAFAF;height: 26px;line-height: 26px;width: 100px;" %>
                </span>
                <span id="updated_request_msg_div_<%=message.id%>_<%= message.locations_user_id %>" style="display: none;color: darkcyan;font-size:11px;width: auto;text-align: center;height: 28px;">
                  Request Updated
                </span>
                <%= observe_field( "request_status_#{message.id}_#{message.locations_user_id}", :on => :changed,
                  :url => update_request_status_path(message.id),
                  :with => "request_status_#{message.id}_#{message.locations_user_id}",
                  :success => "setTimeout('hide_updated_msg(#{message.id},#{message.locations_user_id})', 2500);" )
              %>
                <script type="text/javascript">
                  function hide_updated_msg(message_id,locations_user_id){
                    jQuery('#updated_request_msg_div_'+message_id+'_'+locations_user_id).animate({ opacity: 'hide' }, "slow");
                    jQuery('#drop_down_'+message_id+'_'+locations_user_id).animate({ opacity: 'show' }, "slow");
                  }
                </script>
              <% else %>
                <%= link_to "Reply Inquiry", view_message_path(current_user, message), :style => "text-decoration:none;" %>
              <% end %>
            </div>
          </div>
          <div class="from-3"><%= message.created_at.strftime("%b/%d/%y") %></div>
          <div class="from-4">
            <%= link_to image_tag("cross.png", :border => "0", :width => "17", :height => "30"), message_delete_path(@user,message.id), :confirm => "Are you sure you want to delete this message?", :style => "text-decoration:none;" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div style="font-weight: bold;font-style: italic;">
        Your Inbox is empty at the moment.
      </div>
    <% end %>

  </div>
</div>